<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Price Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/ew..css">


</head>

<body>
    
    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">FLIGHT PRICE</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">
        <form action="\predict" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Departure Date</h5>
                            <!-- Departure -->
                            <input type="datetime-local" name="Dep_Time" id="Dep_Time" required="required">
                        </div>
                    </div>
                </div>
                <br>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Arrival Date</h5>
                            <!-- Arrival -->
                            <input type="datetime-local" name="Arrival_Time" id="Arrival_Time" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Source</h5>
                            <select class="same" name="Source" id="Source" required="required">
                                <option class="option_col" value="Delhi">Delhi</option>
                                <option class="option_col" value="Kolkata">Kolkata</option>
                                <option class="option_col" value="Mumbai">Mumbai</option>
                                <option class="option_col" value="Chennai">Chennai</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Destination</h5>
                            <!-- Destination -->
                            <select class="same" name="Destination" id="Destination" required="required">
                                <option class="option_col" value="Cochin">Cochin</option>
                                <option class="option_col" value="Delhi">Delhi</option>
                                <option class="option_col" value="New Delhi">New Delhi</option>
                                <option class="option_col" value="Hyderabad">Hyderabad</option>
                                <option class="option_col" value="Kolkata">Kolkata</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stopage</h5>
                            <!-- Total Stops -->
                            <select class="same" name="stops" required="required">
                                <option class="option_col" value="0">Non-Stop</option>
                                <option class="option_col" value="1">1</option>
                                <option class="option_col" value="2">2</option>
                                <option class="option_col" value="3">3</option>
                                <option class="option_col" value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Which Airline you want to travel?</h5>
                            <!-- Airline -->
                            <select class="same" name="airline" id="airline" required="required">
                                <option class="option_col" value="Jet Airways">Jet Airways</option>
                                <option class="option_col" value="IndiGo">IndiGo</option>
                                <option class="option_col" value="Air India">Air India</option>
                                <option class="option_col" value="Multiple carriers">Multiple carriers</option>
                                <option class="option_col" value="SpiceJet">SpiceJet</option>
                                <option class="option_col" value="Vistara">Vistara</option>
                                <option class="option_col" value="Air Asia">Air Asia</option>
                                <option class="option_col" value="GoAir">GoAir</option>
                                <option class="option_col" value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option class="option_col" value="Jet Airways Business">Jet Airways Business</option>
                                <option class="option_col" value="Vistara Premium economy">Vistara Premium economy</option>
                                <option class="option_col" value="Trujet">Trujet</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <h3>{{ prediction_text }}</h3>

        <p>shivam kumar shah</p>

    </div>




    

</body>

</html>